<h1>Facturas</h1>

<div *ngIf="vm">
  <div class="row">
    <div class="row col-sm-4">
      <div class="clearfix">
        <h2 class="float-left">Agregar factura</h2>
        <button class="btn btn-default float-right" title="Add List..."
                (click)="showNewInvoiceModal(newInvoiceModalTemplate)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
      <div class="clearfix">
        <div class="float-left">
          <div class="table-responsive">
            <table class="table table-hover" style="margin: 0 auto;">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Local</th>
                  <th>Proveedor</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of vm.invoices; index as i"
                    [ngClass]="{'active' : invoice == selectedInvoice}" (click)="selectedInvoice = invoice">
                  <td>{{ invoice.dateInvoice | date : 'dd/MM/yyyy' }}</td>
                  <td>{{ invoice.place.name }}</td>
                  <td>{{ invoice.provider.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8" *ngIf="selectedInvoice">
      <div class="clearfix">
        <h2 class="float-left">
          {{ (selectedInvoice.dateInvoice | date : 'dd/MM/yyyy') + ' - ' + selectedInvoice.place.name + ' - ' + selectedInvoice.provider.name}}
        </h2>
        <button id="InvoiceOptions" class="btn btn-default float-right" title="Invoice Options..."
                (click)="showInvoiceOptionsModal(InvoiceOptionsModalTemplate)">
          <fa-icon [icon]="faEllipsisH"></fa-icon>
        </button>
      </div>
      <ul id="invoice-details" class="list-group mb-2">
        <li *ngFor="let detail of selectedInvoice.invoiceDetails; index as i" class="list-group-item">
          <div class="d-flex">
            <div class="flex-fill">
              <div class="float-left">
                {{ detail.product.name }}
              </div>
              <div class="float-left text-right">
                <span class="badge badge-light">{{ detail.amount }}</span>
              </div>
            </div>
            <div class="todo-item-commands">
              <button id="DetailOptions" title="Detail Options..."
                      (click)="showDetailOptionsModal(detailOptionsModalTemplate, item)"
                      class="btn btn-default btn-xs" role="button">
                <fa-icon [icon]="faEllipsisH"></fa-icon>
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item" (click)="showNewInvoiceDetailModal(newInvoiceDetailModalTemplate)">
          <button class="btn btn-default">Agregar producto...</button>
        </li>
      </ul>
    </div>
  </div>
</div>


<ng-template #newInvoiceModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Agregar Producto</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newInvoiceCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group container" id="dateInvoicetxt">
      <label>Fecha de Factura:</label>
      <input class="form-control" bsDatepicker placeholder="ingrese fecha de factura" [(ngModel)]="newInvoiceEditor.dateInvoice">
    </div>

    <div class="form-group container" id="placeNametxt">
      <label>Nombre del Local:</label>
      <select class="form-control" [(ngModel)]="newInvoiceEditor.place">
        <option value="" disabled selected>seleccione un local</option>
        <option *ngFor="let place of placeList" [ngValue]="place">{{place.name}}</option>
      </select>
    </div>
    <div class="form-group container" id="providerNametxt">
      <label>Nombre del Proveedor:</label>
      <select class="form-control" [(ngModel)]="newInvoiceEditor.provider">
        <option value="" disabled selected>seleccione un proveedor</option>
        <option *ngFor="let provider of providerList" [ngValue]="provider">{{provider.name}}</option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newInvoiceCancelled()">Cancelar</button>
      <button class="btn btn-primary" (click)="addInvoice()">Finalizar</button>
    </div>
  </div>
</ng-template>




<ng-template #newInvoiceDetailModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Agregar Producto</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newInvoiceDetailModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" id="productNametxt">
      <label>Producto:</label>
      <select class="form-control" [(ngModel)]="newInvoiceDetailEditor.product">
        <option value="" disabled selected>seleccione un producto</option>
        <option *ngFor="let product of productList" [ngValue]="product">{{product.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="title">Cantidad Producto</label>
      <input type="number" class="form-control" id="productAmounttxt" placeholder="ingrese cantidad del producto" [(ngModel)]="newInvoiceDetailEditor.amount"
             [ngClass]="{ 'is-invalid': newInvoiceDetailEditor.error }" />
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newInvoiceDetailModalRef.hide()">Cancelar</button>
      <button class="btn btn-primary" (click)="addDetail()">Agregar</button>
    </div>
  </div>
</ng-template>

<ng-template #InvoiceOptionsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Editar Factura</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="invoiceOptionsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group container" id="dateInvoiceEdittxt">
      <label>Fecha de Factura:</label>
      <input class="form-control" bsDatepicker placeholder="ingrese fecha de factura" [(ngModel)]="invoiceOptionsEditor.dateInvoice">
    </div>
    <div class="form-group container" id="placeNameEdittxt">
      <label>Nombre del Local:</label>
      <select class="form-control" [(ngModel)]="invoiceOptionsEditor.placeId">
        <option value="" disabled selected>seleccione un local</option>
        <option *ngFor="let place of placeList" [ngValue]="place.id">{{place.name}}</option>
      </select>
    </div>
    <div class="form-group container" id="providerNametxt">
      <label>Nombre del Proveedor:</label>
      <select class="form-control" [(ngModel)]="invoiceOptionsEditor.providerId">
        <option value="" disabled selected>seleccione un proveedor</option>
        <option *ngFor="let provider of providerList" [ngValue]="provider.id">{{provider.name}}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="float-left">
        <button class="btn btn-default text-danger" (click)="confirmDeleteInvoice(deleteInvoiceModalTemplate)">Eliminar</button>
      </div>
      <div class="float-right">
        <button class="btn btn-default" (click)="invoiceOptionsModalRef.hide()">Cancelar</button>
        <button class="btn btn-primary" (click)="updateInvoiceOptions()">Actualizar</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteInvoiceModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">¿Desea Eliminar "{{ (selectedInvoice.dateInvoice | date : 'dd/MM/yyyy') + ' - ' + selectedInvoice.place.name + ' - ' + selectedInvoice.provider.name}}" ?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteInvoiceModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Todos los productos se eliminaran de forma permanente. </p>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteInvoiceModalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deleteInvoiceConfirmed()">Eliminar</button>
    </div>
  </div>
</ng-template>
