<h1>Facturas</h1>

<div *ngIf="vm">
  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-left">Agregar factura</h2>
        <button class="btn btn-default float-right" title="Add List..."
                (click)="showNewInvoiceModal(newInvoiceModalTemplate)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>

      <div class="d-flex float-center">
        <div class="card text-center" style="width: 100%;">
          <div class="card-body">
            <div class="list-group-item" *ngFor="let invoice of vm.invoices; index as i" [ngClass]="{'active' : invoice == selectedInvoice}"
                 (click)="selectedInvoice = invoice">
              <h5 class="card-title">{{ invoice.dateInvoice | date : 'dd/MM/yyyy' }}</h5>
              <p class="card-text">Local: {{ invoice.place.name }}</p>
              <p class="card-text">Proveedor: {{ invoice.provider.name }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-8" *ngIf="selectedInvoice">
      <div class="clearfix">
        <h2 class="float-left">
          {{ (selectedInvoice.dateInvoice | date : 'dd/MM/yyyy') + ' - ' + selectedInvoice.place.name + ' - ' + selectedInvoice.provider.name}}
        </h2>
        <button id="InvoiceOptions" class="btn btn-default float-right" title="Invoice Options..."
                (click)="showInvoiceOptionsModal(InvoiceOptionsModalTemplate)">
          <fa-icon [icon]="faEllipsisH"></fa-icon>
        </button>
      </div>
      <div class="overflow-auto">
        <ul id="invoice-details" class="list-group mb-2">
          <li class="list-group-item" (click)="showNewInvoiceDetailModal(newInvoiceDetailModalTemplate)">
            <button class="btn btn-default">Agregar producto...</button>
          </li>
          <li *ngFor="let detail of selectedInvoice.invoiceDetails; index as i" class="list-group-item">
            <div class="d-flex float-center">
              <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h5 class="card-title">{{ detail.product.name }}</h5>
                      <p class="card-text">Cantidad: {{ detail.amount }}</p>
                      <p class="card-text">Precio: {{ detail.productPrice }}</p>
                    </div>
                    <div class="col-3">
                      <button id="DetailOptions" title="Detail Options..."
                              (click)="showInvoiceDetailOptionsModal(InvoiceDetailOptionsModalTemplate,detail)"
                              class="btn btn-default btn-xs" role="button">
                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<ng-template #newInvoiceModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Agregar Producto</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newInvoiceCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form>
      <div class="modal-body">
        <div class="form-group">
          <label for="dateInvoicetxt">Fecha de Factura:</label>
          <input id="dateInvoicetxt" name="dateInvoice" class="form-control" bsDatepicker placeholder="ingrese fecha de factura"
                 [(ngModel)]="newInvoiceEditor.dateInvoice" required>
        </div>

        <div class="form-group">
          <label for="placetxt">Nombre del Local:</label>
          <select id="placetxt" name="place" class="form-control" [(ngModel)]="newInvoiceEditor.place" required>
            <option value="" disabled selected>seleccione un local</option>
            <option *ngFor="let place of placeList" [ngValue]="place">{{place.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="providertxt">Nombre del Proveedor:</label>
          <select id="providertxt" name="provider" class="form-control" [(ngModel)]="newInvoiceEditor.provider" required>
            <option value="" disabled selected>seleccione un proveedor</option>
            <option *ngFor="let provider of providerList" [ngValue]="provider">{{provider.name}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button class="btn btn-default" (click)="newInvoiceCancelled()">Cancelar</button>
          <button class="btn btn-primary" (click)="addInvoice()">Finalizar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #newInvoiceDetailModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Agregar Producto</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newInvoiceDetailModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form>
      <div class="modal-body">
        <div class="form-group">
          <label for="producttxt">Nombre del Producto:</label>
          <select id="producttxt" name="product" class="form-control" [(ngModel)]="newInvoiceDetailEditor.product">
            <option value="" disabled selected>seleccione un producto</option>
            <option *ngFor="let product of productList" [ngValue]="product" [disabled]="disableProduct(product.id)">
              {{product.name}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="productAmounttxt">Cantidad del Producto</label>
          <input type="number" class="form-control" id="productAmounttxt" name="amount" placeholder="ingrese cantidad del producto"
                 [(ngModel)]="newInvoiceDetailEditor.amount" />
        </div>
        <div class="form-group">
          <label for="productPricetxt">Precio del Producto</label>
          <input type="number" class="form-control" id="productPricetxt" name="price" placeholder="ingrese precio del producto"
                 [(ngModel)]="newInvoiceDetailEditor.productPrice" />
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button class="btn btn-default" (click)="newInvoiceDetailModalRef.hide()">Cancelar</button>
          <button class="btn btn-primary" (click)="addInvoiceDetail()">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #InvoiceOptionsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Editar Factura</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="invoiceOptionsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form>
      <div class="modal-body">
        <div class="form-group container" id="dateInvoiceEdittxt">
          <label for="dateInvoiceEdittxt">Fecha de Factura:</label>
          <input id="dateInvoiceEdittxt" name="dateInvoice" class="form-control" bsDatepicker placeholder="ingrese fecha de factura"
                 [(ngModel)]="invoiceOptionsEditor.dateInvoice">
        </div>
        <div class="form-group container" id="placeNameEdittxt">
          <label for="placeEdittxt">Nombre del Local:</label>
          <select id="placeEdittxt" name="placeId" class="form-control" [(ngModel)]="invoiceOptionsEditor.placeId">
            <option value="" disabled selected>seleccione un local</option>
            <option *ngFor="let place of placeList" [ngValue]="place.id">{{place.name}}</option>
          </select>
        </div>
        <div class="form-group container" id="providerNametxt">
          <label for="providerEdittxt">Nombre del Proveedor:</label>
          <select id="providerEdittxt" name="providerId" class="form-control" [(ngModel)]="invoiceOptionsEditor.providerId">
            <option value="" disabled selected>seleccione un proveedor</option>
            <option *ngFor="let provider of providerList" [ngValue]="provider.id">{{provider.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <div class="clearfix">
          <div class="float-left">
            <button class="btn btn-default text-danger" (click)="confirmDeleteInvoice(deleteInvoiceModalTemplate)">Eliminar</button>
          </div>
          <div class="float-right">
            <button class="btn btn-default" (click)="invoiceOptionsModalRef.hide()">Cancelar</button>
            <button class="btn btn-primary" (click)="updateInvoice()">Actualizar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteInvoiceModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">¿Desea Eliminar "{{ (selectedInvoice.dateInvoice | date : 'dd/MM/yyyy') + ' - ' + selectedInvoice.place.name + ' - ' + selectedInvoice.provider.name}}" ?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteInvoiceModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Todos los productos se eliminaran de forma permanente. </p>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteInvoiceModalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deleteInvoiceConfirmed()">Eliminar</button>
    </div>
  </div>
</ng-template>


<ng-template #InvoiceDetailOptionsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Editar Producto</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="invoiceDetailOptionsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form>
      <div class="modal-body">
        <div class="form-group" id="productNameEdittxt">
          <label for="productEdittxt">Nombre del Producto:</label>
          <select id="productEdittxt" name="productId" class="form-control" [(ngModel)]="invoiceDetailOptionsEditor.productId">
            <option value="" disabled selected>seleccione un producto</option>
            <option *ngFor="let product of productList" [ngValue]="product.id" [disabled]="disableProduct(product.id)">
              {{product.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="productAmountEdittxt">Cantidad del Producto:</label>
          <input type="number" class="form-control" id="productAmountEdittxt" name="amount" placeholder="ingrese cantidad del producto"
                 [(ngModel)]="invoiceDetailOptionsEditor.amount" />
        </div>
        <div class="form-group">
          <label for="productPriceEdittxt">Precio del Producto:</label>
          <input type="number" class="form-control" id="productPriceEdittxt" name="productPrice" placeholder="ingrese precio del producto"
                 [(ngModel)]="invoiceDetailOptionsEditor.productPrice" />
        </div>
      </div>
      <div class="modal-footer">
        <div class="clearfix">
          <div class="float-left">
            <button class="btn btn-default text-danger" (click)="confirmDeleteInvoiceDetail(deleteInvoiceDetailModalTemplate)">Eliminar</button>
          </div>
          <div class="float-right">
            <button class="btn btn-default" (click)="invoiceDetailOptionsModalRef.hide()">Cancelar</button>
            <button class="btn btn-primary" (click)="updateInvoiceDetail()">Actualizar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteInvoiceDetailModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">¿Desea Eliminar "{{ selectedDetail.product.name }}" ?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteInvoiceModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Este producto se eliminara de forma permanente. </p>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteInvoiceDetailModalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deleteInvoiceDetailConfirmed()">Eliminar</button>
    </div>
  </div>
</ng-template>
