<p *ngIf="!vm"><em>Cargando Locales...</em></p>

<div *ngIf="vm">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-left">Locales</h2>
      </div>
    </div>
    <div class="col-sm-8">
      <ul id="todo-items" class="list-group mb-2">
        <li class="list-group-item" *ngFor="let item of placesList; index as i">
          <div class="d-flex">
            <div class="flex-fill">
              <div class="todo-item-title">
                <span>{{ item.name }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
