<p *ngIf="!vm"><em>Cargando Productos...</em></p>

<div *ngIf="vm">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-left">Productos</h2>
        <button class="btn btn-default float-right" title="Crear Nuevo Producto..."
                (click)="showNewProductModal(newProductModalTemplate)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>
    <div class="col-sm-8">
      <ul id="products" class="list-group mb-2">
        <li class="list-group-item" *ngFor="let product of productsList; index as i">
          <div class="d-flex">
            <div class="flex-fill">
              <input id="{{ 'productName' + i }}"
                     *ngIf="product == selectedProduct"
                     type="text"
                     class="form-control item-input-control"
                     [(ngModel)]="product.name"
                     (keyup.enter)="updateProduct(product, true)"
                     (blur)="updateProduct(product)"
                     autofocus="autofocus" />
              <div *ngIf="product != selectedProduct"
                   (click)="editProduct(product, 'productName' + i)"
                   class="form-control item-input-control">
                <span>{{ product.name }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="debug">
  <pre>{{ vm | json }}</pre>
</div>

<ng-template #newProductModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Nuevo Producto</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newProductCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre del producto..." [(ngModel)]="newProductEditor.name"
             [ngClass]="{ 'is-invalid': newProductEditor.error }" (keyup.enter)="addList()" />
      <div *ngIf="newProductEditor.error" class="invalid-feedback">
        {{ newProductEditor.error }}
      </div>
    </div>
    <div *ngIf="debug">
      <pre>{{ newListEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button class="btn btn-default" (click)="newProductCancelled()">Cancelar</button>
      <button class="btn btn-primary" (click)="addProduct()">Crear</button>
    </div>
  </div>
</ng-template>
