<h1>Inventarios</h1>

<div *ngIf="vm">
  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-left">Agregar Inventario</h2>
        <button class="btn btn-default float-right" title="Add List..."
                (click)="showNewInventoryModal(newInventoryModalTemplate)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>

      <div class="d-flex float-center">
        <div class="card text-center" style="width: 100%;">
          <form [formGroup]="searchFilterForm" style="padding:10px">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="startDatetxt">Fecha inicial:</label>
                  <input id="startDatetxt" formControlName="startDate" name="startDate" class="form-control" bsDatepicker placeholder="ingrese fecha de inventario"
                         required>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="endDatertxt">Fecha Final:</label>
                  <input id="endDatertxt" formControlName="endDate" name="endDate" class="form-control" bsDatepicker placeholder="ingrese fecha de inventario"
                         required>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="placeFiltertxt">Local(es):</label>
                  <ng-select [items]="placeList" id="placeFiltertxt"
                             bindLabel="name"
                             placeholder="selecciona local(es)"
                             multiple="true"
                             formControlName="placeFilter">
                  </ng-select>
                </div>
                <button class="btn btn-primary" (click)="searchFilter()">Filtrar</button>
              </div>
            </div>
          </form>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <ng-select [items]="pageSizeOptions"
                         (change)="onPageSizeChange($event)">
              </ng-select>
            </div>
            <div class="col-sm-9">
              <div class="justify-content-center">
                <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onPageDataChange($event)">
                </pagination-controls>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="list-group-item" *ngFor="let inventory of vm.inventories | paginate : {
                 itemsPerPage: pageSize,
                 currentPage: page,
                 totalItems: count
                 }; index as i" [ngClass]="{'active' : inventory == selectedInventory}"
                 (click)="selectedInventory = inventory">
              <h5 class="card-title">{{ inventory.inventoryDate | date : 'dd/MM/yyyy' }}</h5>
              <p class="card-text">Local: {{ inventory.place.name }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-8" *ngIf="selectedInventory">
      <div class="clearfix">
        <h2 class="float-left">
          {{ (selectedInventory.inventoryDate | date : 'dd/MM/yyyy') + ' - ' + selectedInventory.place.name}}
        </h2>
        <button id="InventoryOptions" class="btn btn-default float-right" title="Inventory Options..."
                (click)="showInventoryOptionsModal(InventoryOptionsModalTemplate)">
          <fa-icon [icon]="faEllipsisH"></fa-icon>
        </button>
      </div>

      <div class="overflow-auto">
        <ul id="inventory-details" class="list-group mb-2">
          <li class="list-group-item" (click)="showNewInventoryDetailModal(newInventoryDetailModalTemplate)">
            <button class="btn btn-default">Agregar producto...</button>
          </li>
          <li *ngFor="let detail of selectedInventory.inventoryDetails; index as i" class="list-group-item">
            <div class="d-flex float-center">
              <div class="card text-center" style="width: 100%;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <h5 class="card-title">{{ detail.product.name }}</h5>
                      <p class="card-text">Cantidad: {{ detail.manualCount | currency:' ':'code':'1.0-0' }}</p>
                      <p class="card-text">Precio: {{ detail.currentPrice | currency:"COP":'$ ' }}</p>
                      <p class="card-text">Vendidos: {{ detail.totalSale | currency:"COP":'$ ' }}</p>
                    </div>
                    <div class="col-3">
                      <button id="DetailOptions" title="Detail Options..."
                              (click)="showInventoryDetailOptionsModal(InventoryDetailOptionsModalTemplate,detail)"
                              class="btn btn-default btn-xs" role="button">
                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>


<ng-template #newInventoryModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Agregar Inventario</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newInventoryCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form>
      <div class="modal-body">
        <div class="form-group">
          <label for="dateInvoicetxt">Fecha de Inventario:</label>
          <input id="dateInvoicetxt" name="inventoryDate" class="form-control" bsDatepicker placeholder="ingrese fecha de inventario"
                 [(ngModel)]="newInventoryEditor.inventoryDate" required>
        </div>

        <div class="form-group">
          <label for="placetxt">Nombre del Local:</label>
          <select id="placetxt" name="place" class="form-control" [(ngModel)]="newInventoryEditor.place" required>
            <option value="" disabled selected>seleccione un local</option>
            <option *ngFor="let place of placeList" [ngValue]="place">{{place.name}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button class="btn btn-default" (click)="newInventoryCancelled()">Cancelar</button>
          <button class="btn btn-primary" (click)="addInventory()">Finalizar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #newInventoryDetailModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Agregar Producto</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newInventoryDetailModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form [formGroup]="newInventoryDetailForm">
      <div class="modal-body">
        <div class="form-group">
          <label for="producttxt">Nombre del Producto:</label>
          <select formControlName="product" id="producttxt" name="product" class="form-control">
            <option value="" disabled selected>seleccione un producto</option>
            <option *ngFor="let product of productList" [ngValue]="product" [disabled]="disableProduct(product.id)">
              {{product.name}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="manualCounttxt">Conteo Manual:</label>
          <input formControlName="manualCount" type="text" class="form-control" id="manualCounttxt" name="manualCount" placeholder="ingrese cantidad del producto" />
        </div>
        <div class="form-group">
          <label for="currentPricetxt">Precio del Producto</label>
          <input formControlName="currentPrice" type="text" class="form-control" id="currentPricetxt" name="currentPrice" placeholder="ingrese precio del producto" />
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button class="btn btn-default" (click)="newInventoryDetailModalRef.hide()">Cancelar</button>
          <button class="btn btn-primary" (click)="addInventoryDetail()">Agregar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #InventoryOptionsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Editar Inventario</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="inventoryOptionsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form>
      <div class="modal-body">
        <div class="form-group container" id="inventoryDateEdittxt">
          <label for="inventoryDateEdittxt">Fecha de Inventario:</label>
          <input id="dateInvoiceEdittxt" name="dateInvoice" class="form-control" bsDatepicker placeholder="ingrese fecha de inventario"
                 [(ngModel)]="inventoryOptionsEditor.inventoryDate">
        </div>
        <div class="form-group container" id="placeNameEdittxt">
          <label for="placeEdittxt">Nombre del Local:</label>
          <select id="placeEdittxt" name="placeId" class="form-control" [(ngModel)]="inventoryOptionsEditor.placeId">
            <option value="" disabled selected>seleccione un local</option>
            <option *ngFor="let place of placeList" [ngValue]="place.id">{{place.name}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <div class="clearfix">
          <div class="float-left">
            <button class="btn btn-default text-danger" (click)="confirmDeleteInventory(deleteInventoryModalTemplate)">Eliminar</button>
          </div>
          <div class="float-right">
            <button class="btn btn-default" (click)="inventoryOptionsModalRef.hide()">Cancelar</button>
            <button class="btn btn-primary" (click)="updateInventory()">Actualizar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteInventoryModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">¿Desea Eliminar "{{ (selectedInventory.inventoryDate | date : 'dd/MM/yyyy') + ' - ' + selectedInventory.place.name}}" ?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteInventoryModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Todos los productos se eliminaran de forma permanente. </p>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteInventoryModalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deleteInventoryConfirmed()">Eliminar</button>
    </div>
  </div>
</ng-template>


<ng-template #InventoryDetailOptionsModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">Editar Producto</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="inventoryDetailOptionsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form [formGroup]="inventoryDetailOptionsForm">
      <div class="modal-body">
        <div class="form-group" id="productNameEdittxt">
          <label for="productEdittxt">Nombre del Producto:</label>
          <select formControlName="productId" id="productEdittxt" name="productId" class="form-control">
            <option value="" disabled selected>seleccione un producto</option>
            <option *ngFor="let product of productList" [ngValue]="product.id" [disabled]="disableProduct(product.id)">
              {{product.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="productManualCountEdittxt">Cantidad del Producto:</label>
          <input formControlName="manualCount" type="text" class="form-control" id="productManualCountEdittxt" name="manualCount" placeholder="ingrese cantidad del producto" />
        </div>
        <div class="form-group">
          <label for="productPriceEdittxt">Precio del Producto:</label>
          <input formControlName="currentPrice" type="text" class="form-control" id="productPriceEdittxt" name="currentPrice" placeholder="ingrese precio del producto" />
        </div>
      </div>
      <div class="modal-footer">
        <div class="clearfix">
          <div class="float-left">
            <button class="btn btn-default text-danger" (click)="confirmDeleteInventoryDetail(deleteInventoryDetailModalTemplate)">Eliminar</button>
          </div>
          <div class="float-right">
            <button class="btn btn-default" (click)="inventoryDetailOptionsModalRef.hide()">Cancelar</button>
            <button class="btn btn-primary" (click)="updateInventoryDetail()">Actualizar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteInventoryDetailModalTemplate>
  <div class="modal-header clearfix">
    <h4 class="modal-title float-left">¿Desea Eliminar "{{ selectedDetail.product.name }}" ?</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteInventoryModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Este producto se eliminara de forma permanente. </p>
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteInventoryDetailModalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deleteInventoryDetailConfirmed()">Eliminar</button>
    </div>
  </div>
</ng-template>
